OE8BW9_XMLTask/XMLSchemaOE8BW9.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="ételrendelések">	
		<xs:complexType>
	        <xs:sequence>
                <!-- Több rendelés/megrendelő/fizetés lehet -->
	            <xs:element name="rendelés" type="rendelésTipus" maxOccurs="unbounded"/>
	            <xs:element name="megrendelő" type="megrendelőTipus" maxOccurs="unbounded"/>
	            <xs:element name="fizetés" type="fizetésTipus" maxOccurs="unbounded"/>

                <!-- Kapcsolótábla a rendelés és az étel között -->
	            <xs:element name="rendelt" type="rendeltTipus" maxOccurs="unbounded"/>

                <!-- Ételek -->
	            <xs:element name="étel" type="ételTipus" maxOccurs="unbounded"/>

                <!-- Akciók -->
	            <xs:element name="akció" type="akcióTipus" maxOccurs="unbounded"/>
	        </xs:sequence>
		</xs:complexType>

		<!-- =======================
		     PRIMARY KEY DEFINÍCIÓK
		     ======================= -->

        <!-- Rendelés egyedi kulcsa -->
		<xs:key name="rendelésKulcs">
            <xs:selector xpath="rendelés"/>
            <xs:field xpath="@RID"/>
        </xs:key>
        
        <!-- Megrendelő egyedi kulcsa -->
        <xs:key name="megrendelőKulcs">
            <xs:selector xpath="megrendelő"/>
            <xs:field xpath="@MID"/>
        </xs:key>
        
        <!-- Fizetés egyedi kulcsa -->
        <xs:key name="fizetésKulcs">
            <xs:selector xpath="fizetés"/>
            <xs:field xpath="@FID"/>
        </xs:key>
        
        <!-- Étel egyedi kulcsa -->
        <xs:key name="ételKulcs">
            <xs:selector xpath="étel"/>
            <xs:field xpath="@EID"/>
        </xs:key>

        <!-- Akció egyedi kulcsa -->
        <xs:key name="akcióKulcs">
            <xs:selector xpath="akció"/>
            <xs:field xpath="@AID"/>
        </xs:key>
        
        <!-- =======================
		     FOREIGN KEY DEFINÍCIÓK
		     ======================= -->

        <!-- Rendelés -> megrendelő -->
        <xs:keyref refer="megrendelőKulcs" name="rendelésMegrendelőIdegenKulcs">
            <xs:selector xpath="rendelés"/>
            <xs:field xpath="@MID"/>
        </xs:keyref>  
        
        <!-- Rendelt -> rendelés -->
        <xs:keyref refer="rendelésKulcs" name="rendeltRendelésIdegenKulcs">
            <xs:selector xpath="rendelt"/>
            <xs:field xpath="@RID"/>
        </xs:keyref>

        <!-- Rendelt -> étel -->
        <xs:keyref refer="ételKulcs" name="rendeltÉtelIdegenKulcs">
            <xs:selector xpath="rendelt"/>
            <xs:field xpath="@EID"/>
        </xs:keyref>
        
        <!-- Akció -> étel -->
        <xs:keyref refer="ételKulcs" name="akcióÉtelIdegenKulcs">
            <xs:selector xpath="akció"/>
            <xs:field xpath="@EID"/>
        </xs:keyref>

        <!-- 
            Egyedi feltétel: egy FID nem fordulhat elő két rendelésben.
            Ez csinálja meg a 1:1 kapcsolatot fizetés és rendelés között.
        -->
        <xs:unique name="rendelésFizetésEgy">
            <xs:selector xpath="rendelés"/>
            <xs:field xpath="@FID"/>
        </xs:unique>

    </xs:element>	    


    <!-- =======================
         RENDELÉS TÍPUSA
         ======================= -->
    <xs:complexType name="rendelésTipus">
		<xs:sequence>
			<xs:element name="dátum" type="xs:date"/>  
			<xs:element name="kiszállítási_cím" type="xs:string"/> 
			<xs:element name="összeg" type="xs:integer"/>   	            
		</xs:sequence>

        <!-- Azonosítók -->
		<xs:attribute name="RID" type="xs:integer" use="required"/>
		<xs:attribute name="MID" type="xs:integer" use="required"/>
		<xs:attribute name="FID" type="xs:integer" use="required"/>
   	</xs:complexType>  
   	

    <!-- =======================
         MEGRENDELŐ TÍPUSA
         ======================= -->
   	<xs:complexType name="megrendelőTipus">
		<xs:sequence>

            <!-- Visszatérő vendég jelzése -->
			<xs:element name="visszatérő_vendég">
				<xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="igen"/>
                        <xs:enumeration value="nem"/>
                    </xs:restriction>
                </xs:simpleType>
			</xs:element>

            <!-- Telefonszám -->
			<xs:element name="telefonszám" type="xs:string"/> 

            <!-- A megrendelő neve -->
			<xs:element name="név" type="xs:string"/>   	            

		</xs:sequence>

        <!-- Megrendelő azonosító -->
		<xs:attribute name="MID" type="xs:integer" use="required"/>
   	</xs:complexType>  
   	

    <!-- =======================
         FIZETÉS TÍPUSA
         ======================= -->
   	 <xs:complexType name="fizetésTipus">
		<xs:sequence>

            <!-- Fizetés dátuma -->
			<xs:element name="átvitel_ideje" type="xs:date"/>          

            <!-- Kupon használata -->
			<xs:element name="kupon">
				<xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="igen"/>
                        <xs:enumeration value="nem"/>
                    </xs:restriction>
                </xs:simpleType>
			</xs:element>

            <!-- Fizetés módja -->
			<xs:element name="fizetés_módja">
				<xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="bankkártya"/>
                        <xs:enumeration value="készpénz"/>
                        <xs:enumeration value="szép-kártya"/>
                    </xs:restriction>
                </xs:simpleType>
			</xs:element>

		</xs:sequence>

        <!-- Fizetés azonosító -->
		<xs:attribute name="FID" type="xs:integer" use="required"/>
   	</xs:complexType>


    <!-- =======================
         RENDELT TÉTEL
         ======================= -->
   	<xs:complexType name="rendeltTipus">
		<xs:sequence>

            <!-- Mennyiség -->
			<xs:element name="mennyiség" type="xs:integer"/>  

            <!-- Egységár -->
            <xs:element name="tétel_ár" type="xs:integer"/>   	            

            <!-- Opcionális megjegyzés -->
            <xs:element name="megjegyzés" type="xs:string" minOccurs="0"/>

		</xs:sequence>

        <!-- Kapcsolati kulcsok -->
		<xs:attribute name="RID" type="xs:integer" use="required"/>
		<xs:attribute name="EID" type="xs:integer" use="required"/>
   	</xs:complexType>     	
   	     		

    <!-- =======================
         ÉTEL TÍPUSA
         ======================= -->
	<xs:complexType name="ételTipus">
		<xs:sequence>

            <!-- Név -->
			<xs:element name="név" type="xs:string"/>          

            <!-- Ár -->
			<xs:element name="ár" type="xs:integer"/> 

            <!-- Allergének listája -->
			<xs:element name="allergén" type="xs:string" maxOccurs="unbounded"/>  

            <!-- Kategória -->
			<xs:element name="típus" type="xs:string"/>    	            

		</xs:sequence>

        <!-- Étel azonosító -->
		<xs:attribute name="EID" type="xs:integer" use="required"/>
   	</xs:complexType> 
   	

    <!-- =======================
         AKCIÓ TÍPUSA
         ======================= -->
   	<xs:complexType name="akcióTipus">
		<xs:sequence>

            <!-- Időtartam blokk -->
			<xs:element name="időtartam">
				<xs:complexType>
                    <xs:sequence>
                        <xs:element name="kezdete" type="xs:date"/> 
                      	<xs:element name="vége" type="xs:date"/> 
                    </xs:sequence>
                </xs:complexType>
			</xs:element>

            <!-- Kedvezmény százalékban -->
			<xs:element name="leárazás" type="xs:integer"/>  

		</xs:sequence>

        <!-- Akció és étel azonosítói -->
		<xs:attribute name="EID" type="xs:integer" use="required"/>
		<xs:attribute name="AID" type="xs:integer" use="required"/>
   	</xs:complexType>  
	
</xs:schema>
